<!-- <div class="text-center alert-light" style="padding:2%"> -->
{% extends 'base.html' %} {% load static %} {% block content %}
<link href="{% static 'styles/prepaid.css' %}" rel="stylesheet" />
<div class="container-fluid">
  <div style="padding: 20px">
    <div class="card" style="width: 100%;">
      <div class="card-horizontal">
        <div class="row">
          <div class="col-md-4">
            <div class="card-horizontal">
              <div class="img-square-wrapper" style="padding: 10px">
                <img
                  class=""
                  src="../assets/images/eagle.jpg"
                  height="100px"
                  width="100px"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <table>
                  <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td>Vishnu priya</td>
                  </tr>
                  <tr>
                    <td>Phone No</td>
                    <td>:</td>
                    <td>9092876584</td>
                  </tr>
                  <tr>
                    <td>Plan</td>
                    <td>:</td>
                    <td>Prepaid</td>
                  </tr>
                </table>
              </div>
              <div class="card-body" style="padding: 35px;">
                <font size="5">Bal:</font><br />
                <font size="3">$0.00</font>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-horizontal">
              <div
                class="card-body"
                style="padding: 35px ; padding-left: 100px;"
              >
                <a routerLink="/recharge"
                  ><button type="button" class="btn btn-outline-primary">
                    Recharge<br />Now
                  </button></a
                >
              </div>
              <div class="card-body" style="padding: 35px;">
                <a routerLink="/report"
                  ><button type="button" class="btn btn-outline-primary">
                    Report<br />a Problem
                  </button></a
                >
              </div>
              <div class="card-body" style="padding: 35px;">
                <button type="button" class="btn btn-outline-primary">
                  Special<br />Offers
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />

  <div class="row" style="padding: 20px;">
    <div class="col-md-4 text-center">
      <div class="container">
        <font size="5">Your present pack :</font><br />
        <label>Info</label><br />
        <font size="5">Expires :</font>
        <label>5</label>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse1"
                ><button class="btn btn-outline-primary" style="width: 100%;">
                  Calls usage
                </button></a
              >
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Phone no</th>
                  <th>Date</th>
                  <th>Duration</th>
                  <th></th>
                </tr>
                <tr>
                  <td></td>
                  <td>9092856412</td>
                  <td>10/02/19</td>
                  <td>10min</td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse2"
                ><button class="btn btn-outline-primary" style="width: 100%;">
                  Data usage
                </button></a
              >
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th></th>
                  <th>data usage</th>
                  <th>Date</th>
                  <th>Duration</th>
                  <th></th>
                </tr>
                <tr>
                  <td></td>
                  <td>10mb</td>
                  <td>10/02/19</td>
                  <td>10min</td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse3"
                ><button class="btn btn-outline-primary" style="width: 100%;">
                  SMS usage
                </button></a
              >
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Phone no</th>
                  <th>Date</th>
                  <th>quantity</th>
                  <th></th>
                </tr>
                <tr>
                  <td></td>
                  <td>9092856412</td>
                  <td>10/02/19</td>
                  <td>10</td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
{% endblock %}
